footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #02070e;
    font-size: 1.1em;
    font-family:  sans-serif;
}

footer p {
    color: #fff;
}

footer span{
    color: rgb(152, 14, 14);
    font-size: 1.2em;
}