.home{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(26, 25, 26);
    padding: 0px 190px;
    align-items: center;
}

.home::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/miles.png');
    filter:opacity(0.5) contrast(70%) brightness(0.8);
    background-position: 0px 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.home h1, .home h2{
    position: relative;
    padding: 0px;
    margin: 0px;
}

.home h1{
    font-size:3.5em;
    color: rgb(250, 250, 250);
    letter-spacing: 4px;
    text-shadow: 4px 4px rgb(152, 14, 14);
    animation-name: home;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    opacity: 0;
}   
.home h2{
    font-size: 2.2em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    animation-name: home;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
    opacity: 0;
    text-align: center;
}

.home img{
    width: 200px;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;

}


.foto_perfil{
    margin-top: 180px;
    width: 200px;
    height: 264px;
    background: linear-gradient(180deg, rgba(9, 9, 155, 0.475), rgba(127, 8, 8, 0.475));;
    border-radius: 10%;
    text-align: center;
    animation-name: home;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    opacity: 0;
}


@keyframes home{
    0%{
        opacity: 0;
        transform: translate3d(0, 60px, 0);

    }
    100%{
        opacity: 1;
        transform: translate3d(0px);
    }
}

@media (max-width: 950px){
    .home{
        padding: 0px;
    }
    .foto_perfil{
        width: 150px;
        height: 200px;
    }
    .foto_perfil img{
        width: 150px;
    }
    .home h1{
        font-size: 2.6em;
    }
    .home h2{
        font-size: 1.8em;
    }
    
}
