.projetos{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 190px;
    background-color:  #020a17;
}

.projetos h1 {
    margin-top: 60px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px rgb(152, 14, 14);
}
.projetos ul{
    margin-top: 30px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 4em;
}

.projetos ul li{
    width: 47%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.projetos li span{
    color: #fff;
    padding: 0px;
    font-size: 1.3em;
    width: 100%;
    margin-top: 10px;
}

.projeto{
    margin-top: 14px;
    list-style: none;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    transition: 0.4s;
    position: relative;
}
.projeto img{
    max-width: 100%;
    border-radius: 5px;
    position: absolute;
    height: 300px;
}

.info_projeto{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation-name: projeto;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
}

.info_projeto a{
    width: 95%;
    height: 50px;
    font-size: 1.1em;
    padding: 0.6em;
    color: #fff;
    border: none;
    background-color:#02070e;
    cursor: pointer;
    border-radius: 4px;
    margin: 1px;
    text-decoration: none;
    margin-bottom: 1em;
}
.projeto:hover{
    transform:scale(1.02);
}

.projeto:hover >.info_projeto{
    display: flex;
}
.projeto:hover img{
    filter: contrast(70%)  brightness(0.2);
}

@keyframes projeto {
    0%{
        opacity: 0;
        transform: translate3d(0px, 10px, 0 );;
    }
    60%{
        background: rgba(255, 254, 254, 0);
    }
    100%{
        opacity: 1;
        background-color: rgba(68, 63, 63, 0.155);
        
    }
}

@media (max-width:1100px ){
    .projetos ul {
            flex-direction: column;
    }
    .projetos ul li{
        width: 100%;
        height: 25em;
        box-shadow: 0px;

    }
    .projeto img{
        width: 100%;
        height: 25em;
    }
  
}

@media (max-width:900px){
    .projetos h1{
        margin-top: 0px;
    }
    .projetos{
        padding: 0 10%;
    }
}

@media (max-width: 750px){
    .projetos ul li{
        height: 18em; 
    }
    .projeto img{
     
        height: 18em;
    }
    .projetos h1{
        text-align: center;
    }
}