.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    padding: 0 150px 0 190px;
    font-size: 1.1em;
    min-height: 100vh;
    background-color: #020a17;
}

.about h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px rgb(152, 14, 14);
    box-shadow: 2px 2px rgb(152, 14, 14);
}

.about p {
    text-align: justify;
    box-shadow: 0.2px 0.2px rgb(152, 14, 14);
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1.5px;
}
.icons{
 
    display: flex;
    flex-direction: row;
    font-size: 1.9em;
}

.my{
    color: rgb(152, 14, 14);
    padding: 7px;
    cursor: pointer;
    transition: 0.2s;
}

.my:hover{
    background-color: rgb(152, 14, 14);
    border-radius: 13%;
    color: #fff;
}


.about img {
    width: 400px;
    margin-top: 45px;
}

@media (max-width: 1050px){
    .about{
        padding: 0 130px 0 130px;
    }
    .about{
        font-size: 1rem;
    }
    .about img{
        width: 300px;
    }
    .about p{
        font-size: 0.8em;
    }
}

@media (max-width: 900px){
    .about{
        padding: 20px;
        justify-content: center;
    }
    .about img{
        display: none;

    }
}