* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
